In [1]:
import pandas as pd
df = pd.read_csv("bmd.csv")
df.head()

,id,age,sex,fracture,weight_kg,height_cm,medication,waiting_time,bmd
0,469,57.052768,F,no fracture,64.0,155.5,Anticonvulsant,18,0.8793
1,8724,75.741225,F,no fracture,78.0,162.0,No medication,56,0.7946
2,6736,70.778900,M,no fracture,73.0,170.5,No medication,10,0.9067
3,24180,78.247175,F,no fracture,60.0,148.0,No medication,14,0.7112
4,17072,54.191877,M,no fracture,55.0,161.0,No medication,20,0.7909

In [2]:
# Modifying the dataframe: converting target variable - fracture from strings to 1 (if fractured) and 0 (if not fractured)

df.fracture = (df.fracture == 'fracture').astype(int)

In [3]:
# Splitting data into test data and train data

import numpy as np
from sklearn.model_selection import train_test_split

features = ['bmd', 'height_cm', 'age']
X = np.array(df[features])
y = df['fracture']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=8)

In [4]:
# Fitting Logistic regression model

from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=200, random_state=8)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [5]:
# Using classification_report to find the f-1 score of the model

from sklearn.metrics import classification_report

target_names = ['no fracture', 'fracture']
print(classification_report(y_test, y_pred, target_names=target_names))

              precision    recall  f1-score   support

 no fracture       0.96      1.00      0.98        26
    fracture       1.00      0.88      0.93         8

    accuracy                           0.97        34
   macro avg       0.98      0.94      0.96        34
weighted avg       0.97      0.97      0.97        34